<div class="mb-24 lg:mb-0 paper">
	<div class="overflow-hidden aspect-square relative">
	    <div class="swiper h-full mySwiper{{index}}" x-data="fwslider()" x-init="fwsliderstart($el)">
	      <div class="swiper-wrapper">
	      	{% for image in paper.meta('gallery') %}
				<div class="swiper-slide border-b-8" style="border-color:{{thiscat.meta('colore')}}">
					<a href="{{paper.link}}"><img src="{{ Image(image).src }}" class="object-cover object-center h-full w-full" loading="lazy" /></a>
				</div>
			{% endfor %}
		   </div>
		   <div class="swiper-pagination"></div>
			<a class="pinterest hidden" href="https://pinterest.com/pin/create/bookmarklet/?media={{Image(image).src}}&url={{paper.link}}&is_video=false&description={{paper.title}}" target="blank"><img src="{{theme.link}}/img/pinred.svg" class="absolute w-8 h-8 svg bottom-0 right-0 mb-2 pr-2 z-20" /></a>

		</div>
	</div>
	<h3 style="color:{{thiscat.meta('colore')}}" class="mt-4">
		<a href="{{paper.link}}">{{ paper.title }}</a>
	</h3>
	<div class="text-custom-grey">{{ paper.content|length > 100 ? paper.content|striptags|slice(0, 100) ~ '...' : paper.content|striptags  }}</div>
</div>
