{% extends 'layouts/base.twig' %}

{% block body %}
	<div class="hidden lg:block h-full w-8 absolute left-0 top-0 bg-custom-superlight"></div>
    <div class="container mx-auto px-4 py-8" x-data="materials()" x-init="checkMaterial()">
    	<div class="h-full w-8 fixed left-0 top-0 z-10" style="background-color:{{thiscat.meta('colore')}}"></div>
    	<div class="grid grid-cols-12">
    		<div class="col-span-6 lg:col-span-3">
    			<div class="sticky ls">
	    			<h4 class="uppercase">{{ options.label_materiali}}</h4>
	    			<ul class="text-custom-greylight">
	    				{% for mat in materials %}
	    					<li><a class="hover:underline desli" href="{{mat.link}}" data-name="{{mat.slug}}">{{ mat.name }}</a></li>
	    				{% endfor %}
	    			</ul>
	    		</div>
    		</div>

    		<div class="col-span-6 block lg:hidden">
				{% if post.meta('scheda_tecnica') %}
					<a href="{{post.meta('scheda_tecnica')}}" target="_blank" class="flex justify-end items-center uppercase text-custom-greylight dls">
						<span>{{ options.label_scheda }}</span>
						<img src="{{theme.link}}/img/download.svg" class="svg w-6 ml-2" />
					</a>
				{% endif %}
    		</div>

    		<div class="col-span-12 lg:col-span-9 relative mt-12 lg:mt-0">
    			<div class="flex justify-between">
	    			<h1>{{post.title}}</h1>
	    			<div class="hidden lg:block">
						{% if post.meta('scheda_tecnica') %}
							<a href="{{post.meta('scheda_tecnica')}}" target="_blank" class="flex items-center uppercase text-custom-greylight dls">
								{{ options.label_scheda }}
								<img src="{{theme.link}}/img/download.svg" class="svg w-6 ml-6" />
							</a>
						{% endif %}
					</div>

	    		</div>
	    		<div class="grid grid-cols-1 lg:grid-cols-2 gap-24 pb-24 mt-12">
	    			<div>
	    				{{post.content}}
	    			</div>
	    			<img src="{{post.thumbnail.src}}" />
	    		</div>

    		</div>
    	</div>
    </div>


    <style>

    	.dls svg path{
    		fill:#81817F;
    	}
    	.dls svg polygon{
    		fill:#81817F;
    	}
    	.ls{
    		top:112px;
    	}
    </style>


<script>
	function materials() {
		return {

			checkMaterial() {
				const lis = document.querySelectorAll('.desli');
				const path = window.location.href.slice(0, -1);
				const segment = path.split('/').pop();

				lis.forEach((li) => {
					if (li.getAttribute('data-name') == segment) {
						li.classList.add('underline');
					}
				});

			},
		};
	}
</script>



{% endblock body %}
