{% extends 'layouts/base.twig' %} {% block body %}

<div class="grid grid-cols-1 lg:grid-cols-2 gap-0 relative z-20 min-h-screen designergrid" x-data="fwslider()">
	<div class="px-4 lg:px-24">
		<h4 class="mt-8 mb-12">DESIGNERS</h4>
		<ul x-init="fwsliderstart()">
			{% for designer in designers %}
			<li class="my-2">
				<a href="{{designer.link}}">
					<h2 class="text-custom-greylight hover:text-custom-black desli" data-name="{{designer.slug}}">
						{{designer.title}}
					</h2>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="relative bg-custom-blacklight py-8 pl-4 lg:pl-24 lg:pr-24 pr-4 flex flex-col">
		<div class="relative hidden lg:flex justify-end mb-8 showCarte" @click="openRelatedPapers()">
			<span class="text-white flex items-center">
				<a href="#">CARTE</a>
				<img src="{{theme.link}}/img/frecciadx.svg" class="svg w-6 ml-6" />
			</span>
		</div>
		<div class="relative flex justify-start mb-8 hidden hideCarte" @click="closeRelatedPapers()">
			<span class="text-white flex items-center">
				<img src="{{theme.link}}/img/frecciasx.svg" class="svg w-6 mr-6" />
				<a href="#">DESIGNERS</a>
			</span>
		</div>
		<img src="{{post.thumbnail.src}}" class="w-full lg:w-3/4 aspect-video object-center object-cover" />
		<div class="text-white mt-8">{{ post.content }}</div>
	</div>

	<div class="block lg:hidden">
		<div class="flex flex-col px-4 pt-4">
			{% for paper in post.meta('carte_disegnate') %}
			<div class="pt-6">
				{% include "partials/paper.twig" with { paper: paper, index:loop.index,thiscat:paper.terms[0] } %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="hidden lg:block relatedPapers absolute right-0 top-0 overflow-scroll max-h-screen">
	<div class="flex flex-col px-24 pt-16">
		{% for paper in post.meta('carte_disegnate') %}
		<div class="pt-24">
			{% include "partials/paper.twig" with { paper: paper, index:loop.index,thiscat:paper.terms[0] } %}
		</div>
		{% endfor %}
	</div>
</div>

<script>
	function fwslider() {
		return {
			openRelatedPapers() {
				document.querySelector('.designergrid').classList.add('shifted');
				document.querySelector('.relatedPapers').classList.add('open');
				document.querySelector('.showCarte').style.display = 'none';
				document.querySelector('.hideCarte').style.display = 'flex';
			},
			closeRelatedPapers() {
				document.querySelector('.designergrid').classList.remove('shifted');
				document.querySelector('.relatedPapers').classList.remove('open');
				document.querySelector('.showCarte').style.display = 'flex';
				document.querySelector('.hideCarte').style.display = 'none';
			},

			fwsliderstart() {
				const lis = document.querySelectorAll('.desli');
				const path = window.location.href.slice(0, -1);
				const segment = path.split('/').pop();

				lis.forEach((li) => {
					if (li.getAttribute('data-name') == segment) {
						li.classList.remove('text-custom-greylight');
						li.classList.add('text-customblack');
					}
				});
				let swiperInstance = new swiper(this.$el, {
					slidesPerView: 1,
					spaceBetween: 0,
					loop: true,
					pagination: {
						el: '.swiper-pagination',
						clickable: true,
					},
				});
			},
		};
	}
</script>

<style>
	.showCarte svg path {
		fill: #fff;
	}
	.hideCarte svg path {
		fill: #fff;
	}
	.relatedPapers {
		width: 50vw;
		transform: translateX(100vw);
		transition: all 0.4s ease;
	}
	.designergrid {
		transition: all 0.4s ease;
	}
	.relatedPapers.open {
		transform: translateX(0);
	}
	.designergrid.shifted {
		transform: translateX(-50vw);
	}
</style>

{% endblock body %}