{% extends 'layouts/base.twig' %}

{% block body %}

<div class="aboutcontent bg-custom-cream grid lg:grid-cols-16 pl-6" style="background-color:{{ random(['#5C728E', '#A8B8CB', '#8C9EB7','#B4C0D0','#99B4C7','#97BFC6','#A2C1AD','#A9BFAE','#C0CCBD','#D0B480','#CBA47F','#B79C7D','#BE8E81']) }};">
		<div class="lg:col-span-11 pt-6 pb-8 mix-blend-difference grid grid-cols-11">
				<div class="lg:col-span-9 prose bigprose">{{ post.content }}</div>
				<div class="lg:col-span-9 mt-8">
					<div class="grid grid-cols-9">
						{% for categoria in post.meta('categorie') %}
									<span class="lg:col-span-1 mix-blend-difference text-white">{{ categoria.titolo }}</span>
									<div class="lg:col-span-8 bigprose mb-8">{{ categoria.testo }}</div>
						{% endfor %}
					</div>
				</div>
				<div class="lg:col-span-10 mt-4">
					<div class="grid grid-cols-10">
						<span class="lg:col-span-2 mix-blend-difference text-white">COLLABORAZIONI</span>
						{% for collab in post.meta('collaborazioni') %}
									{% if loop.index > 1 %}
										<div class="lg:col-span-8 lg:col-start-3 bigprose mb-8">{{ collab.testo }}</div>
									{% else %}
										<div class="lg:col-span-8 bigprose mb-8">{{ collab.testo }}</div>
									{% endif %}
						{% endfor %}
					</div>
				</div>

				<div class="lg:col-span-9 mt-8">
					<div class="grid grid-cols-9">
							<span class="lg:col-span-1 mix-blend-difference text-white">CONTATTI</span>
						{% for cont in post.meta('contatti') %}
									<div class="lg:col-span-7 lg:col-start-3 bigprose mb-2">
										<a href="{{cont.contatto.url}}" target="_blank">{{ cont.contatto.title }}</a>
									</div>
						{% endfor %}
					</div>
				</div>

				
		</div>
		<div class="lg:col-span-5 lg:col-start-12 mix-blend-difference">
					<img
						src="{{ Image(post.thumbnail).src }}"
						class="object-cover object-center h-screen w-full"
						loading="lazy"
					/>
		</div>

		<div class="lg:col-span-6 lg:col-start-11 pb-8 pr-6">
			<div class="flex copy justify-end">
				<span class="mix-blend-difference text-white">Graphic Design <a href="https://atto.si" target="_blank">Atto</a></span>
				<span class="mix-blend-difference text-white ml-12">{{options.copyright}}</span>
			</div>
		</div>
</div>

<style>
	header .headwrap{
		mix-blend-mode:difference;
	}
	header .headwrap a{
		color:#fff;
	}
	.prose{
		font-family:'Cambon';
	}
	.bigprose{
		font-family:'Cambon';
	}
	.copy{
		font-size:11px;
	}

</style>

<script>
document.querySelector('header').style.backgroundColor = document.querySelector('.aboutcontent').style.backgroundColor
</script>

{% endblock body %}


